@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <body>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>
                    <a asp-page="/Edit" asp-route-id=@item.Id class="btn btn-warning">Edit</a>
                    <a asp-page="/Delete" asp-route-id=@item.Id class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </body>
</table>
