@page
@model Pilarski_David_Midterm.Pages.StockInformationModel
@{
}

<h1 class="text-center">Stock Information</h1>

<ul class="list-group">
    <li class="list-group-item">Total value of stock: $@Model.TotalStockValue</li>
    <li class="list-group-item">Average product price: $@Model.AverageProductPrice</li>
    <li class="list-group-item">Total profit of stock: $@Model.TotalStockProfit</li>
</ul>
